
streamlit
numpy
pandas 


# Face recognition
scikit-learn 
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0


supabase
bcrypt #Hashing 

segno # qr code generator 
pillow # helps in image transformations




librosa
resemblyzer


